Repository cc-foet/Code-Satra, pull requests merged in 2024-07, with the labels that each got.

#43 Day 2: Program to check if the given number is a power of two or not
  Vishal bist/power_of_two.cpp
Labels: Code Satra, Day 2

#42 Add solution for Integer Triplets
  Farhan/3sum.cpp
Labels: Code Satra

#41 Bubble Sort
  Ratnesh-Shukla/BubbleSort.c++
Labels: Code Satra

#40 Day 1
  Aman yadav/README.md
  Aman yadav/q1.cpp
Labels: Code Satra

#45 Second question of Day 2
  Saif/Day2-Problem-2 leetcode-350.md
Labels: Code Satra, Day 2

#55 Day2 Problem Solved with only Merge Sort
  Mohammad-Abbas/Day2.cpp
  Mohammad-Abbas/Day2.exe
Labels: Code Satra, Day 2

#54 MergeSort Question Solution
  Saif/Day2-CC-Problem.md
Labels: Code Satra, Day 2

#53 merge sort using c day 2
  Asmi Bhaskar/day2 sorting using merge sort.c
Labels: Code Satra, Day 2

#51 Day2 Commit
  Venkatesh/Bubble-Sort/BubbleSort.c
  Venkatesh/Bubble-Sort/BubbleSort.exe
  Venkatesh/Merge-Sort/MergeSort.c
  Venkatesh/Merge-Sort/MergeSort.java
  Venkatesh/Merge-Sort/MergeSort.py
Labels: Code Satra, Day 2

#50 Day2.MergeSort.java
  Somesh Pratap Singh/MergeSort.java
Labels: Code Satra, Day 2

#49 Day 2 Problem solved
  Vishwajeet/Day2.java
  Vishwajeet/Readme.md
Labels: Code Satra, Day 2

#48 Day 2 ques
  Shailja/DAY2.java
  Shailja/Day2Ques2.java
Labels: Code Satra, Day 2

#47 DAY 2
  Shikhar/#DAY2 BinarySearch.cpp
  Shikhar/#DAY2 QuickSort.cpp
  Shikhar/#DAY2 RotatedSorted.cpp
Labels: Code Satra, Day 2

#46 Create MinMax.java
  Somesh Pratap Singh/MinMax.java
Labels: Code Satra, Day 2

#52 FolderAdded
  .vscode/tasks.json
  Sachin Kushwaha/DAY1/output/ratInMaze_Recursion.exe
  Sachin Kushwaha/DAY1/ratInMaze_Recursion.cpp
  Sachin Kushwaha/DAY1/ratInMaze_Recursion.exe
  Sachin Kushwaha/README.md
Labels: Code Satra, Day 2

#60 Added_my_day2_problem_solution
  Rishabh_Gupta/InPlaceMergeSort.java
  Rishabh_Gupta/README.md
Labels: Code Satra, Day 2

#59 add day 2 solution on advanced sort algorithm
  Ayush Singh/Day 2.java
Labels: Code Satra, Day 2

#58 Day 2 challenge complete
  Aditya Vardhan Singh/Day 2/C++/MergeSort
  Aditya Vardhan Singh/Day 2/C++/MergeSort.cpp
  Aditya Vardhan Singh/Day 2/C++/testcase.txt
  Aditya Vardhan Singh/Day 2/Python/MergeSort.py
  Aditya Vardhan Singh/README.md
Labels: Code Satra, Day 2

#56 Merge Sort
  Ratnesh-Shukla/MergeSort.c++
Labels: Code Satra, Day 2

#66 Day 2
  .gitignore
  Chandan/Day1.class
  Chandan/Day1.java
  Chandan/Day2.java
  Chandan/Solution.class
Labels: Code Satra, Day 2

#61 Day Two
  .vscode/c_cpp_properties.json
  .vscode/launch.json
  .vscode/settings.json
  Lazeena Iftekhar/DayTwo.java
Labels: Code Satra, Day 2

#64 day 2 problem solver
  Raunak-Kaushal/Day 2 Challenge/problem1.c
  Raunak-Kaushal/Day 2 Challenge/problem1.exe
  Raunak-Kaushal/Day1challenge.c
Labels: Code Satra, Day 2

#63 day 2 solution
  Arindam Shukla/Day_2_question.cpp
Labels: Code Satra, Day 2

#62 Added solution of merge sort
  Princy_Ballabh/Day_2.java
Labels: Code Satra, Day 2

#88 Day 3
  Chandan/Day3.java
Labels: Code Satra, Day 3

#87 Day 3 Problem
  Lazeena Iftekhar/Solution_Day3.java
Labels: Code Satra, Day 3

#86 Add Day3 Solution for binary search
  Ayush Singh/Day3.java
Labels: Code Satra, Day 3

#85 Day_3_Problem_Solution
  Rishabh_Gupta/BinarySearch.java
Labels: Code Satra, Day 3

#84 Day 3 challenge complete
  Aditya Vardhan Singh/Day 3/C++/Bouquet
  Aditya Vardhan Singh/Day 3/C++/Bouquet.c++
  Aditya Vardhan Singh/Day 3/C++/testcase.txt
  Aditya Vardhan Singh/Day 3/Java/Bouquet.class
  Aditya Vardhan Singh/Day 3/Java/Bouquet.java
  Aditya Vardhan Singh/Day 3/Python/Bouquet.py
  Aditya Vardhan Singh/README.md
Labels: Code Satra, Day 3

#83 Day 3 problem solved
  Mayank-Gupta/Day3.class
  Mayank-Gupta/Day3.java
Labels: Code Satra, Day 3

#82 Day 2 Question
  Saurabh/zerosum.java
Labels: Code Satra, Day 3

#81 Sarveshk0
  Sarvesh Kumar/Day3 Solution/Solution.java
Labels: Code Satra, Day 3

#80 Create day 2 .cpp
  Alok Tamrakar/day 2 .cpp
Labels: Code Satra, Day 2

#79 Day 3 Problem Solved
  Vishwajeet/Day3.java
Labels: Code Satra, Day 3

#78 Day 3 problem searching
  Asmi Bhaskar/day 3 searching.c
Labels: Code Satra, Day 3

#76 Day3 Commit
  Venkatesh/Searching/Searching.c
  Venkatesh/Searching/Searching.java
  Venkatesh/Searching/Searching.py
Labels: Code Satra, Day 3

#75 #DAY3
  Shikhar/#DAY3 BouquetProblem.cpp
Labels: Code Satra, Day 3

#74 Create Day3problem.java
  Somesh Pratap Singh/Day3problem.java
Labels: Code Satra, Day 3

#73 complete challenge
  Vikas Saroj/Day 1/Sorting.py
  Vikas Saroj/Day 2/Merge_sort.py
Labels: Code Satra, Day 3

#72 day 3 ques 1
  Shailja/DAY3Ques2.java
  Shailja/Day3Ques1.java
Labels: Code Satra, Day 3

#71 Day-3 Question
  Saif/Day-3 Problem-1.md
Labels: Code Satra, Day 3

#89 Day 3 Solution
  Arindam Shukla/Day_3_question.cpp
Labels: Code Satra, Day 3

#70 day2 code Permutation
  Sachin Kushwaha/DAY2/output/permutationOfStirng.exe
  Sachin Kushwaha/DAY2/permutationOfStirng.cpp
Labels: Code Satra, Day 3

#69 README.md file generated
  Ishika_Bhatnagar/README.md
Labels: Code Satra

#68 Day 3: Finding the first and last occurrence of element in a sorted array.
  Vishal bist/Occurrence.cpp
  Vishal bist/ReadMe.md
Labels: Code Satra, Day 3

#67 Sort the Unsorted Part Of Array
  Farhan/Merge_Sort.cpp
Labels: Code Satra, Day 3

#90 Day 3: Program to check the first and last occurrence of an element in a sorted array
  Vishal bist/Occurrence.cpp
Labels: Code Satra, Day 3

#108 Day 4 challenge complete
  Aditya Vardhan Singh/Day 4/C++/Change
  Aditya Vardhan Singh/Day 4/C++/Change.cpp
  Aditya Vardhan Singh/Day 4/C++/testcase.txt
  Aditya Vardhan Singh/Day 4/Python/Change.py
  Aditya Vardhan Singh/README.md
Labels: Code Satra, Day 4

#107 Solution of day 1 problem
  Prachi-Yadav/D1_BubbleSort.c
  Prachi-Yadav/readme.md
Labels: Code Satra, Day 1

#106 Day_4_Problem_Solution
  Rishabh_Gupta/GreedyAlgorithm.java
Labels: Code Satra, Day 4

#105 linked list reverse problem solve
  Raunak-Kaushal/Day 3 Challenge/problem1.c
  Raunak-Kaushal/Day 3 Challenge/problem1.exe
  Raunak-Kaushal/Day 4 Challenge/problem1.c
  Raunak-Kaushal/Day 4 Challenge/problem1.exe
Labels: Code Satra, Day 4

#104 Add Day 4 solution for Lemonade_Change problem
  Ayush Singh/Day4.java
Labels: Code Satra, Day 4

#103 day4 ques 1
  Shailja/Day4Ques1.java
Labels: Code Satra, Day 4

#102 Create Day4Problem.java
  Somesh Pratap Singh/Day4Problem.java
Labels: Code Satra, Day 4

#101 Day4
  Mayank-Gupta/Day4.class
  Mayank-Gupta/Day4.java
Labels: Code Satra, Day 4

#100 Day4 commit
  Venkatesh/Greedy-Lemonade/Lemonade.c
  Venkatesh/Greedy-Lemonade/Lemonade.java
  Venkatesh/Greedy-Lemonade/Lemonade.py
Labels: Code Satra, Day 4

#99 Three Problems
  Farhan/Bouqets.cpp
  Farhan/Cycle_LL.cpp
  Farhan/Lemonade.c
Labels: Code Satra, Day 4

#98 Day4 question solved
  Saif/Day-4-problem.md
Labels: Code Satra, Day 4

#97 Day 4 Solved
  Vishwajeet/Day4.java
Labels: Code Satra, Day 4

#96 day 4 lemonade problem
  Asmi Bhaskar/day 4 lemonade problem.c
Labels: Code Satra, Day 4

#95 #DAY4
  Shikhar/#DAY4 ChangeGreedy.cpp
  Shikhar/#DAY4 KokoLeetCode.cpp
  Shikhar/#DAY4 SearchInsertPosition.cpp
Labels: Code Satra, Day 4

#94 solved Day3 problem
  Vikas Saroj/Day 3/bouquets.py
Labels: Code Satra, Day 3

#93 Day3 Problem Solved
  Mohammad-Abbas/Day3.cpp
  Mohammad-Abbas/Day3.exe
Labels: Code Satra, Day 4

#91 Added day 3 solution
  Princy_Ballabh/Day_3.java
  Princy_Ballabh/Day_4.java
Labels: Code Satra, Day 4

#110 Day 4
  Chandan/Day4.java
Labels: Code Satra, Day 4

#151 Day-7 CC-Problem
  Saif/Day-7-CC Problem.md
Labels: Code Satra, Day 7

#154 (day 7) 6th and 7th day cc problem in c
  Asmi Bhaskar/day 6 linked list problem.c
  Asmi Bhaskar/day 7 cc problem.c
Labels: Code Satra, Day 7, Day 6

#155 Day7 problem solved
  Mayank-Gupta/Day7.class
  Mayank-Gupta/Day7.java
Labels: Code Satra, Day 7

#156 Added day 7 solution
  Princy_Ballabh/Day_7.java
Labels: Code Satra, Day 7

#158 Day 7 Problem: Check if a String is a Palindrome or not using Stack a…
  Vishwajeet/Day7.java
Labels: Code Satra, Day 7

#159 Day_7_Problem_Solution
  Rishabh_Gupta/IsPalindrome.java
Labels: Code Satra, Day 7

#160 day 7 completed
  Shailja/Day7ques1.java
Labels: Code Satra, Day 7

#161 Add Day 7 Solution
  Ayush Singh/Day7.java
Labels: Code Satra, Day 7

#162 Day 7
  Shikhar/#DAY7 ImplementingStackUsingArray.cpp
  Shikhar/#DAY7 StackAndQueueChallenge.cpp
Labels: Code Satra, Day 7

#164 Day 3
  Ratnesh-Shukla/Bouquet.c++
  Ratnesh-Shukla/findingElement.c++
  Ratnesh-Shukla/lemonade.c++
  Ratnesh-Shukla/palindrome.c++
  Ratnesh-Shukla/removeDuplicates.c++
Labels: Code Satra, Day 3

#165 Solution to checking palindrome string using Stack and Queue
  Farhan/Palindrome_Check.cpp
Labels: Code Satra, Day 7

#166 Day 7: Program to merge nodes between two consecutive zeroes.
  Vishal bist/Merge_Nodes.cpp
Labels: Code Satra, Day 7

#167 Day 7 challenge complete
  Aditya Vardhan Singh/Challenge Solutions/Day 1/C/BubbleSort
  Aditya Vardhan Singh/Challenge Solutions/Day 1/C/BubbleSort.c
  Aditya Vardhan Singh/Challenge Solutions/Day 1/C/testcase.txt
  Aditya Vardhan Singh/Challenge Solutions/Day 1/Java/BubbleSort.class
  Aditya Vardhan Singh/Challenge Solutions/Day 1/Java/BubbleSort.java
  Aditya Vardhan Singh/Challenge Solutions/Day 1/Python/BubbleSort.py
  Aditya Vardhan Singh/Challenge Solutions/Day 2/C++/MergeSort
  Aditya Vardhan Singh/Challenge Solutions/Day 2/C++/MergeSort.cpp
  Aditya Vardhan Singh/Challenge Solutions/Day 2/C++/testcase.txt
  Aditya Vardhan Singh/Challenge Solutions/Day 2/Python/MergeSort.py
  Aditya Vardhan Singh/Challenge Solutions/Day 3/C++/Bouquet
  Aditya Vardhan Singh/Challenge Solutions/Day 3/C++/Bouquet.c++
  Aditya Vardhan Singh/Challenge Solutions/Day 3/C++/testcase.txt
  Aditya Vardhan Singh/Challenge Solutions/Day 3/Java/Bouquet.class
  Aditya Vardhan Singh/Challenge Solutions/Day 3/Java/Bouquet.java
  Aditya Vardhan Singh/Challenge Solutions/Day 3/Python/Bouquet.py
  Aditya Vardhan Singh/Challenge Solutions/Day 4/C++/Change
  Aditya Vardhan Singh/Challenge Solutions/Day 4/C++/Change.cpp
  Aditya Vardhan Singh/Challenge Solutions/Day 4/C++/testcase.txt
  Aditya Vardhan Singh/Challenge Solutions/Day 4/Python/Change.py
  Aditya Vardhan Singh/Challenge Solutions/Day 5/C++/Position
  Aditya Vardhan Singh/Challenge Solutions/Day 5/C++/Position.cpp
  Aditya Vardhan Singh/Challenge Solutions/Day 5/C++/testcase.txt
  Aditya Vardhan Singh/Challenge Solutions/Day 5/Python/Position.py
  Aditya Vardhan Singh/Challenge Solutions/Day 6/C++/RemoveDuplicates
  Aditya Vardhan Singh/Challenge Solutions/Day 6/C++/RemoveDuplicates.cpp
  Aditya Vardhan Singh/Challenge Solutions/Day 6/C/List.h
  Aditya Vardhan Singh/Challenge Solutions/Day 6/C/RemoveDuplicates
  Aditya Vardhan Singh/Challenge Solutions/Day 6/C/RemoveDuplicates.c
  Aditya Vardhan Singh/Challenge Solutions/Day 6/C/testcase.txt
  Aditya Vardhan Singh/Challenge Solutions/Day 6/Java/LinkedList.class
  Aditya Vardhan Singh/Challenge Solutions/Day 6/Java/Node.class
  Aditya Vardhan Singh/Challenge Solutions/Day 6/Java/RemoveDuplicates.java
  Aditya Vardhan Singh/Challenge Solutions/Day 6/Python/RemoveDuplicates.py
  Aditya Vardhan Singh/Challenge Solutions/Day 7/C++/PalindromeString
  Aditya Vardhan Singh/Challenge Solutions/Day 7/C++/PalindromeString.c++
  Aditya Vardhan Singh/Challenge Solutions/Day 7/Python/PalindromeString.py
  Aditya Vardhan Singh/Practice Problems & Solutions/Day 7/1021. Remove Outermost Parentheses/C++/1021. Remove Outermost Parentheses.cpp
  Aditya Vardhan Singh/Practice Problems & Solutions/Day 7/1021. Remove Outermost Parentheses/Python/1021. Remove Outermost Parentheses .py
  Aditya Vardhan Singh/README.md
Labels: Code Satra, Day 7

#168 Day7 Problem
  Mohammad-Abbas/Day7.cpp
Labels: Code Satra, Day 7

#169 Day 8
  Shikhar/#DAY8 LongestSubArrayChallenge.cpp
  Shikhar/#DAY8 MiddleNodeLeetcode.cpp
Labels: Code Satra, Day 8

#170 Day8 commit
  Venkatesh/Hashing/SubArray.c
  Venkatesh/Hashing/SubArray.java
  Venkatesh/Hashing/SubArray.py
Labels: Code Satra, Day 8

#171 Day 8 Problem Solved
  Vishwajeet/Day8.java
Labels: Code Satra, Day 8

#172 2pointer and Hashing Solution of the longest Subarray divisible by K
  Farhan/div_subarray_2pointer.cpp
  Farhan/divisible_subarray.cpp
Labels: Code Satra, Day 8

#173 Day-8-leetcode-problem
  Saif/Day-8-leetcode-problem-DivideTwoInteger.md
Labels: Code Satra, Day 8

#174 Day 8
  Mayank-Gupta/Day8.class
  Mayank-Gupta/Day8.java
Labels: Code Satra, Day 8

#176 day 8 solution to cc problem
  Asmi Bhaskar/day 8 cc.py
Labels: Code Satra, Day 8

#180 day 8
  Shailja/Day8ques1.java
Labels: Code Satra, Day 8

#182 Day 8 challenge complete
  Aditya Vardhan Singh/Challenge Solutions/Day 8/C++/SumFactor
  Aditya Vardhan Singh/Challenge Solutions/Day 8/C++/SumFactor.cpp
  Aditya Vardhan Singh/Challenge Solutions/Day 8/Python/SumFactor.py
  Aditya Vardhan Singh/README.md
Labels: Code Satra, Day 8

#185 Add Day8 Solution of hashing question
  Ayush Singh/Day8.py
Labels: Code Satra, Day 8

#186 Solution of day 3 problem
  Prachi-Yadav/D7_Palindrome.c
Labels: Code Satra, Day 3

#187 Day 8: Program to find the Kth missing integer from a sorted array.
  Vishal bist/Kth_missing_integer.cpp
  Vishal bist/README.md
Labels: Code Satra, Day 8

#188 Day-9 Leetcode Problem 540
  Saif/Day-9_Leetcode-Problem.md
Labels: Code Satra, Day 9

#189 Question Number 2- Of Day 9
  Saif/Day-9-Problem-2.md
Labels: Code Satra, Day 9

#191 day 9 crawler log folder
  Asmi Bhaskar/DSA with Python (PYTHON BELYAT)/day 9.- crawler log folder py
  Asmi Bhaskar/day 8 cc problem hashing.c
Labels: Code Satra, Day 9

#192 Added day 8 solution
  Princy_Ballabh/Day_8.java
Labels: Code Satra, Day 8

#194 Day9 commit
  Venkatesh/2D-Array/Matrix.c
  Venkatesh/2D-Array/Matrix.java
  Venkatesh/2D-Array/Matrix.py
  Venkatesh/2D-Array/README.md
Labels: Code Satra, Day 9

#195 Create Day9problem.java
  Somesh Pratap Singh/Day9problem.java
Labels: Code Satra, Day 9

#196 Day 9 Problem Solved
  Vishwajeet/Day9.java
Labels: Code Satra, Day 9

#197 cc problem day 9
  Asmi Bhaskar/day 9 cc problem.c
Labels: Code Satra, Day 9

#198 Day 9 ques 1
  Shailja/Day9.java
Labels: Code Satra, Day 9

#199 day 9 problem
  Raunak-Kaushal/Day 9 Challenge/problem1.c
  Raunak-Kaushal/Day 9 Challenge/problem1.exe
  Raunak-Kaushal/Day 9 Challenge/problem2.c
  Raunak-Kaushal/Day 9 Challenge/problem2.exe
Labels: Code Satra, Day 9

#200 Day 8 Solved
  Mohammad-Abbas/Day5.cpp
  Mohammad-Abbas/Day6.exe
  Mohammad-Abbas/Day7.exe
  Mohammad-Abbas/Day8.cpp
  Mohammad-Abbas/Day8.exe
Labels: Code Satra, Day 8

#201 Solution
  Ratnesh-Shukla/.gitignore
  Ratnesh-Shukla/matrix.c++
  Ratnesh-Shukla/subarraySum.c++
Labels: Code Satra, Day 9

#203 Day 9
  Shikhar/#DAY9 SpiralMatrixChallenge.cpp
Labels: Code Satra, Day 9

#204 Added day 9 solution
  Princy_Ballabh/Day_9.java
Labels: Code Satra, Day 9

#206 Day 9
  Mayank-Gupta/Day9.class
  Mayank-Gupta/Day9.java
Labels: Code Satra, Day 9

#207 Day_9_Problem_Solution
  Rishabh_Gupta/PrintSpiral.java
Labels: Code Satra, Day 9

#208 Day 9: Program to find the square root of the given number rounded to its nearest integer.
  Vishal bist/Sqrt.cpp
Labels: Code Satra, Day 9

#211 Day9 Problem
  Mohammad-Abbas/Day9.cpp
  Mohammad-Abbas/Day9.exe
Labels: Code Satra, Day 9

#214 Day-10 Leetcode Problem
  Saif/Day-10-leetcode-Problem.md
Labels: Code Satra, Day 10

#215 Day10 commit
  Venkatesh/Binary-Tree/Tree.c
  Venkatesh/Binary-Tree/Tree.java
  Venkatesh/Binary-Tree/Tree.py
Labels: Code Satra, Day 10

#216 added day 10 solution
  Princy_Ballabh/Day_10.java
Labels: Code Satra, Day 10

#217 Create day 10 binary tree cc problem.c
  Asmi Bhaskar/day 10 binary tree cc problem.c
Labels: Code Satra, Day 10

#218 Day 10 Problem Solved
  Vishwajeet/Day10.java
Labels: Code Satra, Day 10

#219 Day 10 challenge complete
  Aditya Vardhan Singh/Challenge Solutions/Day 10/C++/BinaryTree
  Aditya Vardhan Singh/Challenge Solutions/Day 10/C++/BinaryTree.cpp
  Aditya Vardhan Singh/Challenge Solutions/Day 10/Python/BinaryTrees.py
  Aditya Vardhan Singh/README.md
Labels: Code Satra, Day 10

#220 Day 10
  Mayank-Gupta/Day10.class
  Mayank-Gupta/Day10.java
Labels: Code Satra, Day 10

#221 Create Day10problem.java
  Somesh Pratap Singh/Day10problem.java
Labels: Code Satra, Day 10

#222 day 10 problem solution
  Raunak-Kaushal/Day 10 Challenge/problem1.c
  Raunak-Kaushal/Day 10 Challenge/problem1.exe
Labels: Code Satra, Day 10

#223 Day_10_Problem_Solution
  Rishabh_Gupta/BinaryTreeFromInorder.java
Labels: Code Satra, Day 10

#226 Add solution for binary tree
  Ratnesh-Shukla/binaryTree.c++
Labels: Code Satra, Day 10

#229 Day 10: Program to find the minimum number of pages that can be allocated according to the given instructions.
  Vishal bist/Minimum_page_allocation.cpp
Labels: Code Satra, Day 10

#230 Day 10
  Shikhar/#DAY10 BinaryTreeChallenge.cpp
Labels: Code Satra, Day 10

#232 Day-11 Leetcode-Problem-Defanging-IPAddress
  Saif/Day-11-Leetcode-StringBuilderProblem.md
Labels: Code Satra, Day 11

#233 day 11 BST linked list in c
  Asmi Bhaskar/day 11 BST linked list.c
Labels: Code Satra, Day 11

#234 Day11 commit
  Venkatesh/Binary-Search-Tree/BST.c
  Venkatesh/Binary-Search-Tree/BST.java
  Venkatesh/Binary-Search-Tree/BST.py
Labels: Code Satra, Day 11

#235 Add solution for Pre order traversal
  Ratnesh-Shukla/preOrderTraversal.c++
Labels: Code Satra, Day 11

#236 day 11 problem solution
  Raunak-Kaushal/Day 11 Challenge/problem1.c
  Raunak-Kaushal/Day 11 Challenge/problem1.exe
Labels: Code Satra, Day 11

#238 Create Day11Problem.java
  Somesh Pratap Singh/Day11Problem.java
Labels: Code Satra, Day 11

#240 Day 11
  Mayank-Gupta/Day11.class
  Mayank-Gupta/Day11.java
Labels: Code Satra, Day 11

#241 Day 11 challenge complete
  Aditya Vardhan Singh/Challenge Solutions/Day 11/C++/BinarySearchTree
  Aditya Vardhan Singh/Challenge Solutions/Day 11/C++/BinarySearchTree.cpp
  Aditya Vardhan Singh/Challenge Solutions/Day 11/Python/BinarySearchTree.py
  Aditya Vardhan Singh/README.md
Labels: Code Satra, Day 11

#243 day 8 problem solved
  Prachi-Yadav/D8.c
  Prachi-Yadav/D9.c
Labels: Code Satra, Day 8

#244 Day 11
  Shikhar/#DAY11 BinaryTreeSearchChallenge.cpp
Labels: Code Satra, Day 11

#245 day 11
  Shailja/DAY2.class
  Shailja/DAY3Ques2.class
  Shailja/Day10.java
  Shailja/Day2Ques2.class
  Shailja/Day3Ques1.class
  Shailja/Day4Ques1.class
  Shailja/Day5Ques1$PillowPassing.class
  Shailja/Day5Ques1.class
  Shailja/Question1.class
Labels: Code Satra, Day 11

#246 day 5 problem solved
  Prachi-Yadav/D5.c
Labels: Code Satra, Day 5

#247 Day-12-leetcode Problem
  Saif/Day-12-Leetcode-Problem.md
Labels: Code Satra, Day 12

#248 Create day 12 heap problem.c
  Asmi Bhaskar/day 12 heap problem.c
Labels: Code Satra, Day 12

#249 Added day 11 solution
  Princy_Ballabh/Day_11.java
Labels: Code Satra, Day 11

#250 Day12 commit
  Venkatesh/Heap/MergeHeap.c
  Venkatesh/Heap/MergeHeap.java
  Venkatesh/Heap/MergeHeap.py
Labels: Code Satra, Day 12

#252 Day 12 Problem Solved
  Vishwajeet/Day12.java
Labels: Code Satra, Day 12

#253 Create Day12Problem.java
  Somesh Pratap Singh/Day12Problem.java
Labels: Code Satra, Day 12

#254 Day 12
  Shikhar/#DAY12 MergingSortedArraysUsingMinHeapChallenge.cpp
Labels: Code Satra, Day 12

#255 Add Day 12 Code problem on Heaps
  Ayush Singh/Day12.java
Labels: Code Satra, Day 12

#256 day 10 problem solved
  Prachi-Yadav/D10.c
Labels: Code Satra, Day 12

#257 day 12
  Shailja/Day12.java
Labels: Code Satra, Day 12

#258 Day_12_Problem_Solution
  Rishabh_Gupta/MergeHeap.java
Labels: Code Satra, Day 12

#259 problem solve
  Raunak-Kaushal/Day 12 Challenge/problem1.c
  Raunak-Kaushal/Day 12 Challenge/problem1.exe
Labels: Code Satra, Day 12

#260 Added day 12 solution
  Princy_Ballabh/Day_12.java
Labels: Code Satra, Day 12

#262 Day 10 - 12 Problem
  Mohammad-Abbas/Day10.cpp
  Mohammad-Abbas/Day10.exe
  Mohammad-Abbas/Day11.cpp
  Mohammad-Abbas/Day11.exe
  Mohammad-Abbas/Day12.cpp
  Mohammad-Abbas/Day12.exe
  Mohammad-Abbas/tempCodeRunnerFile.cpp
Labels: Code Satra, Day 10, Day 11, Day 12

#263 Day 13
  Shikhar/#DAY13 LargestIntegerInString.cpp
  Shikhar/#DAY13 NoTwoAdjacentSameChallenge.cpp
Labels: Code Satra, Day 13

#264 Day13 commit
  Venkatesh/Priority-Queue/Adjacent.c
  Venkatesh/Priority-Queue/Adjacent.java
  Venkatesh/Priority-Queue/Adjacent.py
Labels: Code Satra, Day 13
